.container {
  max-width: 1000px;
  margin: 0 auto;
}

form {
  display: block;
  width: 800px;
  margin: 5% auto 0 auto;
}

label {
  display: block;
}

input, select {
  margin-bottom: 1em;
  width: 30%;
}

#location {
  width: 75%;
}
