[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask = "*"
frozen-flask = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
price-app = {editable = true,path = "."}
autopep8 = "*"

[packages]
pynamodb = "*"
google-cloud-error-reporting = "*"

[requires]
python_version = "3.7"

[scripts]
generate-static = "python -m price_app.scripts.generate_static"
