FLASK_APP=app_server
FLASK_DEBUG=1
GC_FORM_URL=/
GOOGLE_MAPS_KEY=replacethisvalue
IS_MONGO_PRODUCTION=0
MONGO_FULL_CONNECTION_URL=
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=
MONGO_CERT_PATH=
