# https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore
#!include:.gitignore

# to negate what was included in .gitignore
!ca.pem

.git
.gitignore
.editorconfig
example.py
pre-deploy.sh
deploy.sh
README.md
Pipfile
Pipfile.lock
env-example
env-yaml-example

# app-specific
poetry.lock
