<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>

<body>

  <form action="/" method="POST" name="pricecheck">
    <label for="location">Location:</label>
    <input type="text" name="location" id="location" placeholder="Type a location name here, e.g. Ampang" required>

    <label for="rooms">Rooms:</label>
    <input type="number" name="rooms" id="rooms" placeholder="0" required>

    <label for="plus_rooms">Plus Rooms:</label>
    <input type="number" name="plus_rooms" id="plus_rooms" placeholder="0" required>

    <label for="bathrooms">Bathrooms:</label>
    <input type="number" name="bathrooms" id="bathrooms" placeholder="0" required>

    <label for="car_parks">Car Parks:</label>
    <input type="number" name="car_parks" id="car_parks" placeholder="0" required>

    <input type="submit" name="Submit" />
  </form>
  <p id="form-response"></p>

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&libraries=places"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>
