<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>

<body>

  <form action="/" method="POST" name="pricecheck">
    <input id="pac-input" name="location" type="text" placeholder="Type here">
    <input type="submit" name="Submit"/>
  </form>
  <p id="form-response"></p>

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&libraries=places"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>
